
/* Your CSS Code here. */
.holder{
	display: grid;
	width:200px;
	height:200px;
/* 	border: 2px solid tomato; */
	grid-template-columns: repeat(2,95px);
	grid-template-rows:repeat(2,95px);
	gap:5px;
}
.grid-item{
	background-color: tomato;
}