
/* Your CSS Code here. */
.grid-container{
	display: grid;
	width:200px;
	height:200px;
	border: 2px solid tomato;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows:repeat(2,1fr);
	padding:10px;
	gap:10px;
}
.grid-item{
	
	border:2px solid green;
	background-color: tomato;
	padding:10px;
	
}